.Content {
  margin: 20px;
}

.Subtitle {
  font-size: .8em;
}

.SectionTitle {
  white-space: nowrap;
}

.AccountInfo {
  margin-top: 40px;
}

.AccountInfoColumn {
  margin: 20px 50px;
}

.AccountTransfers {
  margin-top: 30px;
}