.KittenItem {
  width: 150px;
  margin-bottom: 10px;
}
.KittenItemContent {
  width: 100%;
}
.KittenItem .avatar {
  width: 100px;
  height: 100px;
}
.KittenItem .name {
  text-align: center;
}
.KittenItem .giftButton {
  white-space: nowrap;
  margin-top: 2px;
}